*{
    background: #F3F5FC;
    font-size: 32px;
    font-family: Inter;
    font-weight: 400;
    line-height: 120%;
}

.logo{
    padding-top: 20px;
    margin-left: 20px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;

}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0A3871; }
    .text-area:focus {
        outline: none;
    }

.mensaje {
    background: white;
    background-image: url("/assets/img/Munheco.png");
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 20px;
    position: fixed;
    
}

.mensaje:focus{
    outline:none;
}

.botones{
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 588px;
    position: absolute;
    width: 336px;
    align-items: flex-start;


}

.informacion {
    color: #495057;
    font-size: 18px;
    display: flex;
    margin-left: 25px;
    opacity: 0.800000011920929;
}

.informacion_1 {
    display: flex;
    width: 20px;
    position: fixed;
}